.chart {
  width: 100%;
  overflow-x: scroll;
}

.column-labels-container {
  min-width: 656.25px;
}

.column-labels-container > div {
  min-width: 90px;
  border-right: 1px solid black;
  display: inline-flex;
  justify-content: center;
}

.sticky-accordion{
  position: -webkit-sticky;
  position: sticky;
  top: 62px;
  z-index: 100;
}

.accordion-background {
  background-color: #FFF;
  z-index: 99;
}
